/*
========================================================================================
    modules.config  publishDir and resource overrides per process
========================================================================================
*/

process {
    withName: 'GC_ANNOTATE_BED' {
        publishDir = [
            path:    "${params.outdir}/1_clincnv_output/reference",
            mode:    params.publish_dir_mode,
            pattern: "gcAnnotated.targets.bed"
        ]
    }

    withName: 'BED_COVERAGE' {
        publishDir = [
            path:    "${params.outdir}/1_clincnv_output/coverage",
            mode:    params.publish_dir_mode,
            pattern: "*.cov"
        ]
    }

    withName: 'MERGE_COVERAGE' {
        publishDir = [
            path:    "${params.outdir}/1_clincnv_output/coverage",
            mode:    params.publish_dir_mode,
            pattern: "merged.cov"
        ]
    }

    withName: 'CLINCNV' {
        publishDir = [
            path:    "${params.outdir}/1_clincnv_output",
            mode:    params.publish_dir_mode,
            saveAs:  { fn -> fn }
        ]
        cpus   = { params.clincnv_cpus }
        memory = { params.clincnv_memory }
    }

    withName: 'VEP_ANNOTATE' {
        publishDir = [
            path:    "${params.outdir}/2_vep_annotated",
            mode:    params.publish_dir_mode,
            pattern: "*.vep.vcf"
        ]
    }

    withName: 'RSCRIPT_FILTER' {
        publishDir = [
            path:    "${params.outdir}/3_gene_panel_filtered",
            mode:    params.publish_dir_mode,
            pattern: "*.filtered.tsv"
        ]
    }
}
