/*
========================================================================================
    slurm.config  SLURM executor resource mapping
========================================================================================
*/

process {
    executor       = 'slurm'
    clusterOptions = params.slurm_account ? "--account=${params.slurm_account}" : ''
    queue          = params.slurm_partition

    withLabel: process_single {
        cpus   = 1
        memory = { check_max( 6.GB  * task.attempt, 'memory' ) }
        time   = { check_max( 4.h   * task.attempt, 'time'   ) }
    }
    withLabel: process_low {
        cpus   = 2
        memory = { check_max( 12.GB * task.attempt, 'memory' ) }
        time   = { check_max( 8.h   * task.attempt, 'time'   ) }
    }
    withLabel: process_medium {
        cpus   = 4
        memory = { check_max( 24.GB * task.attempt, 'memory' ) }
        time   = { check_max( 16.h  * task.attempt, 'time'   ) }
    }
    withLabel: process_high {
        cpus   = 16
        memory = { check_max( 100.GB * task.attempt, 'memory' ) }
        time   = { check_max( 48.h   * task.attempt, 'time'   ) }
    }
}

executor {
    name           = 'slurm'
    queueSize      = params.slurm_queue_size
    submitRateLimit = '10 sec'
}
